*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

#header{
    background-image: url("home-office-336373_1280.jpg");
    background-size: cover;
    height: 100vh;
    filter: brightness(69%);
    
}
/*menu*/
nav{
    height: 57px;
    background-color: white;
    width: 390px;
    display: flex;
    margin: 0 auto;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    align-items: center;
    justify-content: center;
    
}
nav >li{
    list-style-type: none;
    display: inline-block;
    
}
nav >li a{
    text-decoration: none;
    color: blue;
    display: block;
    padding: 8.5px 15px;
    line-height: 40px;
}
nav >li a:hover{
    color:#217dbb;
    background: #eee;
    border-radius: 4px;
    text-decoration: none;
}
/*koniec menu*/

.mek{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-size: 70px;
    border:3px solid white;
    border-width: 4px;
    width: 900px;
    text-align:center;
}
.mek small{
    font-size: 34px;
    text-transform: uppercase;
}
.mek::first-line{
    font-weight: bold;
}
#header img{
    position: absolute;
    bottom:20px;
    left: 50%;
    transform: translate(-50%,-50%);
}
#AboutMe{
background-color: #07374a;
height: auto;
display: flex;

}
#AboutMe >p.me{
    color: black;
    font-size: 2em;
    position: relative;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 80px;
    margin-left: 200px;
    border-right: 1px solid black;
    display: flex;
    width: 400px;
}
.oMnie{
    width: 520px;
    margin-top: 80px;
    margin-left: 5%;
    color: white;

}
.photo{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: absolute;
        left: 32%;
        top: 110%;
}
#skills{
    height: 30vh;
    background-color: #2C3A47;
    color: white;
    text-align: center;
    line-height: 75px;
    font-size: 5rem;
}
.languages{
    display: flex;
}
.languages >div{
    flex-basis: 35%;
    height: 19.5vh;
    transition: 1s
}
.languages>div:hover{
    background-color: blue;
}
#projects{
    font-size: 2.5rem;
    
    letter-spacing: 2px;
    margin-top: 30px;
    background-color: #DDD;
    height: 89vh;
    
}
#projects > h3{
text-align: center;
}
#project1{
    height: 40vh;
    width: 30vw;
    border:1px dashed red;
    margin-left: 10px;
    margin-bottom: 10px;
    float: right;
    text-align: center;
}
#project2{
    height: 40vh;
    width: 30vw;
    border:1px dashed red;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#project3{
    height: 40vh;
    width: 30vw;
    border:1px dashed red;
    margin-right: 1px;
    margin-bottom: 10px;
    float: right;
    text-align: center;
    display: flex;
}
#project3 a{
    margin-left: auto;
    margin-right: auto;
}

#project4{
    height: 40vh;
    width: 30vw;
    border:1px dashed red;
    text-align: center;
    transition: 1s;
}
#project4:hover{
    background: white;
}
footer{
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

@media screen and (max-width: 640px) {
  nav{
    width: 0;
    height: 60px;
}
    nav li{
        display: none;
    }
    /*
    .burger{
        position: fixed;
        top:0;
        left: 0;
        background-color: gray;
        width: 50px;
        height: 40px;
    }
    span{
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: black;
    }
    span:nth-child(1){
        top: 0;
    }
    span:nth-child(2){
        top: calc(50% - 5px);
    }
    span:nth-child(3){
        bottom: 0;
    }
    */
    body{
        width: 100%;
    }
    header{
    background-size: cover;
    height: 100vh;
    filter: brightness(69%);
    
}
    .mek{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-size: 20px;
    border:3px solid white;
    border-width: 4px;
    width: 240px;
    text-align:center;
}
.mek small{
    font-size: 34px;
    text-transform: uppercase;
}
.mek::first-line{
    font-weight: bold;
}
    section#aboutMe{
        height: 100vh;
    }
    img.photo{
        display: none;
    }
    section#AboutMe >p.me{
        color: white;
        position: absolute;
        top: 90vh;
        left: -60px;;
    }
    section#skills{
        height: 51vh;
    }
    footer{
        font-size: 20px;
        text-align: center;
    }
}